* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 20px;    
    align-items: center;   
    justify-content: center;  
}

.header {
    width: 100%;
    height: 5vh;
    margin-bottom: 10px;
    /* background-color: #15C7FF;    */
    background-color: steelblue;
    display: flex;
    align-items: center;
    align-items: center;
    padding: 0 1vw;
   
}

.header span {
    color: #ffffff;
}

.conteudo {
    background-color: rgb(141, 141, 141);
    margin-top: 20px;
    height: auto;
    width: 800px;
    padding: 20px;
    border-color: #4f4f4f;;
    border-radius: 20px;
    border-style: solid;
    flex-wrap: wrap;
  
}

@media screen and (max-width: 768px) {
    .header {
        width: 100%;
    }

    .conteudo {
        width: 100%;
        margin-top: 10px;
    }
}

.camposPrincipais {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 3vh;
    flex-wrap: wrap;
}

.linhasCampos {
    width: 100%;
    display: flex;    
    flex-direction: row;
    margin-top: 1vh;
    flex-wrap: wrap;    
}

.grupoInput {
    padding-right: 130px;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    
}

.grupo9 {
    margin-left: 1px;
    display: flex;
    justify-content: center;
    color: #ffffff;

}

.radioPrioridade {  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 3px;
    padding-left: 1px;
    padding-right: 5px;
    border-color: steelblue;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    color: #000000;
}

.radioPrioridadeDesabilitado {  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 3px;
    padding-left: 1px;
    padding-right: 5px;
    border-color: #CDCDCD;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    background-color: red;
    color:#ffffff;
}

.grupoCategoria {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnAdd {    
    width: 30px;
    height: 30px;
   
}

.btnAdd:hover {
    cursor: pointer; 
    scale: 1.5;    
    transition-duration: 1000ms;    
}

.grupoMotivo {
    display: flex;
    justify-content: center;
    align-items: center;        
}

/* ITENS */
.camposItens {
    display: flex;
    flex-direction: column;
    border-color: steelblue;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;    
    width: 100%;
    
}

.linhaAdicionarItens {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: end;        
    padding-top: 2vh;
    padding-bottom: 2vh;
    flex-wrap: wrap;
}

.grupoStatusEstoque {
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-left: 5px;
    position: relative;
    display: inline-block       
}

.legenda {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f7ffcd;
    color: #000000;
    padding: 10px;
    display: none;
    font-size: 15px;
    padding: 20%;
    width: 295px;
    text-align: center;
    margin: 0;
}

.legenda p {
    display: flex;
    align-items: center; 
    margin-top: 8px;
    margin-bottom: 8px;
}

.legenda img {
    max-width: 20px; 
    margin-right: 8px;
    border: 1px solid black;
}

.grupoStatusEstoque:hover .legenda {
    display: block;
}

.grupoStatusEstoque img {
    display: flex;
    max-width: 30px;
}

.grupoBtnInserirItens {
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-left: 5px;
}

/* .linhaTotal {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
} */

.linhaTotal span {
    font-size: 18px;
}

.grupoBtnGravar {
    display: flex;
    justify-content: end;
    align-items: center;  
    margin-left: 5px;
    margin-top: 10px; 
    margin-bottom: 10px;
}

.tabelaItens {
    border: 1px solid #CDCDCD;
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight:unset;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    table-layout: fixed;
}

.tabelaItens td {
    background-color:steelblue; 
    border: 1px solid #CDCDCD;
    border-collapse: collapse; 
    color: white; 
    flex-wrap: wrap;
    text-align: left;
    padding-left: 10px;
}

.tabelaItens tr, .tabelaItens td {
    border: 1px solid #4f4f4f;
    border-collapse: collapse;
    
}

#tabelaItens{
    width: 100%;
    max-width: 1000px;
}

#btnRemover {
    background-color: red;
    height: 50px;
    width: 70px;
    border-radius: 5px;
}

#btn-gravar.BtnInserirItens{
    background-color: #000000;
}